.navigation-drawer{
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(15px);
    transition: .5s;
    background: #ffffffaf;
    z-index: 9;
    box-shadow: 10px 1px 20px #40579c3d;
    border-radius: 0px 40px 40px 0px;
    transition: .5s;
}

.closerDiv{
    width: 40vw;
    height: 100vh;
    background: none;
    position: absolute;
    right: 0;
}

.close-icon{
    width: 20px;
    position: absolute;
    right: 25px;
    top: 20px;
}

.navigation-drawer ul{
    padding: 0px;
    margin-top: 45px;
}

.navigation-item{
    list-style: none;
    width: 100%;
    font-size: 13pt;
    color: #FFF;
    padding: 15px 0px;
    text-align: center;
}