.content {
    height: 100vh;
    width: 100%;
}

#sobre-content-top {
    background: url("../../assets/images/background-sobre.png") right/cover;
    transition: background cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
}

#sobre-content-bottom{
    background: #F5FBFF;
}
.shell-text-bottom{
    width: 90vw;
    padding-left: 20px;
    padding-top: 5vh;
}


.shell-left-sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 3vw;
}

.title-sobre-bottom {
    color: var(--text-blue);
    font-size: 6vh;
    width: 70%;
    margin: 0px;
    text-transform: uppercase;
    margin-top: 60px;
}

.title-sobre {
    color: var(--text-blue);
    font-size: 8vh;
    width: 70%;
    margin: 0px;
    text-transform: uppercase;
    margin-top: 60px;
}

.divider-sobre {
    width: 20vw;
    height: 20px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.secondary-text-sobre {
    color: #426187;
    width: 60%;
    font-size: 14pt;
    text-align: justify;
    line-height: 28pt;
}

.buttons-left-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-left-sobre > a {
    background: var(--text-blue);
    padding: 30px 20px;
    border-radius: 15px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    box-shadow: 0px 18px 44px -12px rgba(0, 115, 255, 0.74);
    transition: 0.3s;
}

.buttons-left-sobre > a > img {
    width: 70%;
}

.buttons-left-sobre > a:hover {
    transform: scale(1.05);
}

.text-left-sobre {
    margin-bottom: 80px;
}

.shell-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0px;
}

@media only screen and (max-width: 1440px) {
    #sobre-content {
        /* background: url("../../assets/images/background-sobre-md.png") right/cover;*/
            
    }
    .title-sobre {
        font-size: 8vh;
        width: 90%;
        margin-top: 22vh;
    }
    .secondary-text-sobre {
        font-size: 12pt;
        line-height: 25pt;
    }
    .divider-sobre {
        height: 10px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1366px) {
    .title-sobre {
        font-size: 35pt;
        width: 90%;
    }
    .divider {
        margin-bottom: 30px;
    }
    .text-left-sobre {
        margin-bottom: 30px;
    }
    .secondary-text-sobre {
        width: 80%;
    }
    .buttons-left-sobre > a {
        width: 7vw;
        height: 12vh;
    }
}

@media only screen and (max-width: 1100px) {
    #sobre-content-top {
        background: url("../../assets/images/background-sobre-md.png") right/cover;
    }
}

@media only screen and (max-width: 950px) {
    .shell-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
}

@media only screen and (max-width: 768px) {
    #sobre-content-top {
        background: url("../../assets/images/background-sobre-smd.png") right/cover;
    }
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
    #sobre-content-top {
        background: url("../../assets/images/background-sobre-xs.png") right/cover;
        
    }
    .text-left-sobre {
        margin-bottom: 0px;
    }
    .title-sobre {
        font-size: 30pt;
        width: 100%;
        margin-top: 90px;
    }
    
    .secondary-text-sobre {
        width: 100%;
        font-size: 12pt
    }
    
    .shell-left-sobre {
        justify-content: flex-end;
        width: 80vw;
        height: 140vh;
    }
    .buttons-left-sobre > a{
        width: 11vw;
        height: 4vh;
        margin: 0px 17px;
    }
    .divider {
        width: 55vw;
        height: 13px;
    }
    #sobre-content-top {
        background: url(/static/media/background-sobre-xs.6878f494.png) top/60vh;
        background-repeat: no-repeat;
        background-position-x: right;
        height: 140vh;
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
    }
    #sobre-content-bottom {
        height: 130vh;
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
    }
    .shell-cards{
        justify-content: flex-end;
    }
    .title-sobre-bottom {
        font-size: 4vh;
        width: 80%;
    }
}

@media only screen and (max-width: 350px) and (orientation: portrait) {
    #sobre-content-top {
        height: 165vh;
    }

    #sobre-content-bottom {
        height: 145vh;
    }
}

@media only screen and (max-height: 1366px) and (min-height: 1025px) and (orientation: portrait) {
    #sobre-content {
        /* background: url("../../assets/images/background-sobre-md.png")
            right/115vh; */
        background-repeat: no-repeat;
    }
}

@media only screen and (max-height: 1024px) and (min-height: 900px) and (orientation: portrait) {
    #sobre-content {
        /* background: url("../../assets/images/background-sobre-md.png")
            right/95vh; */
        background-repeat: no-repeat;
    }
}

@media only screen and (max-height: 640px) and (orientation: portrait) {
    .secondary-text-sobre {
        font-size: 11pt;
    }
    .title-sobre {
        font-size: 25pt;
        margin-top: 80px;
    }
}

@media only screen and (max-height: 450px) and (orientation: landscape) {
    .secondary-text-sobre {
        display: none;
    }
    .divider {
        margin-bottom: 0px;
        height: 10px;
    }
    .title-sobre {
        font-size: 25pt;
        width: 100%;
    }
    .text-left-sobre {
        margin-bottom: 0px;
    }
}