.content {
    height: 100vh;
    width: 100%;
}

#discord-content {
    background: url("../../assets/images/discord-background.png") left/cover;
    transition: background cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
}

.shell-left-discord {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 55vw;
    height: 100vh;
    flex-direction: column;
    padding-left: 40vw;
}

.title-discord {
    color: var(--text-blue);
    font-size: 8vh;
    margin: 0px;
    text-transform: uppercase;
}

.divider {
    width: 20vw;
    height: 20px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.secondary-text-discord {
    color: var(--text-light-blue);
    width: 60%;
    font-size: 14pt;
    text-align: justify;
}

.buttons-left-discord {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-left-discord > a {
    background: var(--text-blue);
    padding: 30px 20px;
    border-radius: 15px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    box-shadow: 0px 18px 44px -12px rgba(0, 115, 255, 0.74);
    transition: 0.3s;
}

.buttons-left-discord > a > img {
    width: 70%;
}

.buttons-left-discord > a:hover {
    transform: scale(1.05);
}

.text-left-discord {
    margin-bottom: 80px;
}

.text-left-discord a{
    text-decoration: none;
}


.discordButton{
    border: none;
    background: var(--text-blue);
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #FFF;
    font-weight: 600;
    font-size: 15pt;
    padding: 12px 40px;
    text-transform: uppercase;
    box-shadow: 0px 17px 44px -12px #0073ffdb;
    transition: .5s;
    cursor: pointer;
}

.discordButton:hover{
    transform: scale(1.05);
}

.discordButton:hover > img{
    margin-left: 25px;
}

.discordButton img{
    width: 25px;
    margin-left: 15px;
    transition: .3s;   
}

@media only screen and (max-width: 1440px) {
    #discord-content {
        background: url("../../assets/images/discord-background-md.png") left/cover;
            
    }
    .title-discord {
        font-size: 8vh;
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .title-discord {
        font-size: 6vw;
        width: 100%;
    }
    .divider {
        margin-bottom: 30px;
    }
    .text-left-discord {
        margin-bottom: 30px;
    }
    .secondary-text-discord {
        width: 80%;
    }
    .buttons-left-discord > a {
        width: 7vw;
        height: 12vh;
    }
}

@media only screen and (max-width: 1200px) {
    #discord-content {
        background: url("../../assets/images/discord-background-smd.png") left/cover;
            
    }
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
    #home-content {
        /* background: url("../../assets/images/background-discord-xs.png") right/cover;*/
        
    }
    .text-left-discord {
        margin-bottom: 0px;
    }
    .title-discord {
        font-size: 30pt;
        width: 100%;
        margin-top: 90px;
    }
    
    .secondary-text-discord {
        width: 100%;
        font-size: 12pt
    }
    
    .shell-left-discord {
        justify-content: start;
        width: 90vw;
        height: 100vh;
    }
    .buttons-left-discord > a{
        width: 11vw;
        height: 4vh;
        margin: 0px 17px;
    }
    .divider {
        width: 55vw;
        height: 13px;
    }
}

@media only screen and (max-height: 640px) and (orientation: portrait) {
    .secondary-text-discord {
        font-size: 11pt;
    }
    .title-discord {
        font-size: 25pt;
        margin-top: 80px;
    }
}